.apsinth-blocker{position:fixed;width:100%;height:100%;left:0;top:0;border:0;}* html .apsinth-blocker{position:absolute;}
.apsinth-blocker-visible{background-color:#CCC;}.apsinth-dialog{background-color:#f5f7f7!important;position:absolute;color:#666;font-size:11px;border:2px solid gray;padding:5px 10px;text-align:left!important;font-family:Verdana,Arial;font-size:11px;letter-spacing:normal;line-height:15px;}
.apsinth-dialog p{background-color:#f5f7f7!important;color:#666;}.apsinth-dialog-clean{padding:0!important;border:none!important;}
.apsinth-dialog h1{color:#666;text-align:left!important;font-family:Verdana,Arial;font-size:18px;letter-spacing:normal;line-height:22px;font-weight:bold;}
.flash_upload,.selectTemplateLayer{background:url(/mod/common/files/img/1und1_header_bg_left.png) no-repeat 0 0 #f5f7f7;color:#666;font-size:11px;border:2px solid gray;border-bottom:none;padding:5px 10px;}
html .new-feed-settings *{font-family:Verdana,Arial;font-size:11px;letter-spacing:normal;line-height:15px;color:#666;}
.flash_upload .dialog-title,.selectTemplateLayer .dialog-title{background:url(/mod/common/files/img/1und1_header_bg_middle.png) repeat-x 6px 0;color:#434343;font-weight:bold;font-size:12px;font-family:Verdana,Arial;letter-spacing:normal;line-height:15px;margin:-5px -5px 10px;}
.new-feed-settings .dialog-title div,.flash_upload .dialog-title div,.selectTemplateLayer .dialog-title div{background:url(/mod/common/files/img/1und1_header_bg_right.png) no-repeat right 0;padding:5px 4px 7px;margin-right:-5px;}
.apsinth-dialog .error-hint{position:absolute;top:0;left:0;border-bottom:1px solid #622;background:#FCC url(/mod/common/files/img/error16.png) no-repeat 3px 3px;padding:4px 5px 0 25px;height:18px;}
.apsinth-dialog .error-label{background:url(/mod/common/files/img/error16.png) no-repeat top right;padding-right:20px;}
.apsinth-dialog a.ccclose{display:block;float:right;height:16px;color:black!important;border-bottom:1px solid transparent!important;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:10px;font-weight:normal;padding:1px 18px 1px 4px;text-decoration:none;margin:2px;background:url(/mod/common/files/img/close.gif) no-repeat 100% 4px!important;cursor:pointer;}
.apsinth-dialog a.ccclose:hover{color:#333!important;border-bottom:1px solid gray!important;background-color:white!important;background-position:100% -18px;}
.apsinth-dialog a.ccclose:active{background-color:#C9E9FA;}.button .innerbutton a.ccclose{background:none!important;border:none!important;padding:0!important;font-size:11px!important;font-weight:bold!important;height:20px!important;line-height:20px!important;margin:0!important;}
.apsinth-message-dialog .error-msg{background:url(/mod/common/files/img/error16.png) no-repeat;padding-left:25px;padding-bottom:5px;}
.apsinth-colorselector .colorbox,.apsinth-colorselector .colorvalue{height:18px;border:1px solid #9EA0A2;}
.apsinth-colorselector .colorbox{width:18px;float:left;cursor:pointer;}.apsinth-colorselector .colorvalue{text-transform:uppercase;width:65px;margin-left:10px;padding:0;text-align:center;}
* html .apsinth-colorpicker .ccclose{white-space:nowrap;}*:first-child+html .apsinth-colorpicker{width:195px;}
ul.tabnav{padding-left:10px!important;height:22px!important;background:url(/mod/common/files/img/tab_bottom.gif) repeat-x bottom!important;margin:3px 0 5px!important;}
ul.tabnav li{display:inline!important;list-style-type:none!important;margin:0!important;padding:0!important;}
ul.tabnav a,ul.tabnav a:visited{float:left;background-color:#FFF;font:bold 10px/20px Verdana,Geneva,Arial,Helvetica,sans-serif;margin-right:4px;border:1px solid #ccc;text-decoration:none;color:#666!important;padding:0 10px;}
ul.tabnav a.tabimg,ul.tabnav a.tabimg:visited,ul.tabnav a.tabtext,ul.tabnav a.tabtext:visited{background-position:4px 50%;background-repeat:no-repeat;padding:0 10px 0 24px;}
ul.tabnav a.tabimg{background-image:url(/mod/common/files/img/tab_image.gif);}ul.tabnav a.tabtext{background-image:url(/mod/common/files/img/tab_document.gif);}
ul.tabnav a:active{border-bottom:1px solid #fff;background-color:#0099E1!important;color:#FFF!important;text-decoration:none;outline:none;}
ul.tabnav a:focus{-moz-outline-style:none;}ul.tabnav a:hover{background-color:#C9E9FA;}.apsinth-uploadbar{background:url(/mod/common/files/img/timeline.gif) center center no-repeat;}
.apsinth-error{color:red;border:1px solid red;}.apsinth-clear{clear:both;}#ui-datepicker16-div{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;font-family:Verdana,Arial,sans-serif;background:#fff url(/mod/common/files/lib/datepicker/css/smoothness/images/ffffff_40x100_textures_01_flat_75.png) 0 0 repeat-x;font-size:1.1em;border:4px solid #aaa;width:15.5em;padding:2.5em .5em .5em .5em;position:relative;}
#ui-datepicker16-div{z-index:100002;display:none;font-size:12.8px;}#ui-datepicker16-div .cancel-date{margin-top:3px;}
#ui-datepicker16-div .ui-datepicker-inline{float:left;display:block;}#ui-datepicker16-div .ui-datepicker-control{display:none;}
#ui-datepicker16-div .ui-datepicker-current{display:none;}#ui-datepicker16-div .ui-datepicker-next,#ui-datepicker16-div .ui-datepicker-prev{position:absolute;left:.5em;top:.5em;background:#e6e6e6 url(/mod/common/files/lib/datepicker/css/smoothness/images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;}
#ui-datepicker16-div .ui-datepicker-next{left:14.6em;}#ui-datepicker16-div .ui-datepicker-next:hover,#ui-datepicker16-div .ui-datepicker-prev:hover{background:#dadada url(/mod/common/files/lib/datepicker/css/smoothness/images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;}
#ui-datepicker16-div .ui-datepicker-next a,#ui-datepicker16-div .ui-datepicker-prev a{text-indent:-999999px;width:1.3em;height:1.4em;display:block;font-size:1em;background:url(/mod/common/files/lib/datepicker/css/smoothness/images/888888_7x7_arrow_left.gif) 50% 50% no-repeat;border:1px solid #d3d3d3;cursor:pointer;}
#ui-datepicker16-div .ui-datepicker-next a{background:url(/mod/common/files/lib/datepicker/css/smoothness/images/888888_7x7_arrow_right.gif) 50% 50% no-repeat;}
#ui-datepicker16-div .ui-datepicker-prev a:hover{background:url(/mod/common/files/lib/datepicker/css/smoothness/images/454545_7x7_arrow_left.gif) 50% 50% no-repeat;}
#ui-datepicker16-div .ui-datepicker-next a:hover{background:url(/mod/common/files/lib/datepicker/css/smoothness/images/454545_7x7_arrow_right.gif) 50% 50% no-repeat;}
#ui-datepicker16-div .ui-datepicker-prev a:active{background:url(/mod/common/files/lib/datepicker/css/smoothness/images/454545_7x7_arrow_left.gif) 50% 50% no-repeat;}
#ui-datepicker16-div .ui-datepicker-next a:active{background:url(/mod/common/files/lib/datepicker/css/smoothness/images/454545_7x7_arrow_right.gif) 50% 50% no-repeat;}
#ui-datepicker16-div .ui-datepicker-header select{border:1px solid #d3d3d3;color:#555;background:#e6e6e6;font-size:1em;line-height:1.4em;position:absolute;top:.5em;margin:0!important;}
#ui-datepicker16-div .ui-datepicker-header option:focus,#ui-datepicker16-div .ui-datepicker-header option:hover{background:#dadada;}
#ui-datepicker16-div .ui-datepicker-header select.ui-datepicker-new-month{width:7em;left:2.2em;}#ui-datepicker16-div .ui-datepicker-header select.ui-datepicker-new-year{width:5em;left:9.4em;}
#ui-datepicker16-div table.ui-datepicker td.ui-datepicker-days-cell a{width:18px;}#ui-datepicker16-div table.ui-datepicker td.ui-datepicker-today a{border:1px dashed #aaa;}
#ui-datepicker16-div table.ui-datepicker td.ui-datepicker-current-day a{border:1px solid #aaa;background:#dcdcdc;}
#ui-datepicker16-div table.ui-datepicker{width:15.5em;text-align:right;}#ui-datepicker16-div table.ui-datepicker td a{font-size:12px;padding:2px 6px 2px 2px;display:block;color:#555;background:#e6e6e6 url(/mod/common/files/lib/datepicker/css/smoothness/images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;cursor:pointer;border:1px solid #fff;}
#ui-datepicker16-div table.ui-datepicker td a:hover{border:1px solid #999;color:#212121;background:#dadada url(/mod/common/files/lib/datepicker/css/smoothness/images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;}
#ui-datepicker16-div table.ui-datepicker td a:active{border:1px solid #aaa;color:#212121;background:#fff url(/mod/common/files/lib/datepicker/css/smoothness/images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;}
#ui-datepicker16-div table.ui-datepicker .ui-datepicker-title-row td{padding:.3em 0;text-align:center;font-size:.9em;color:#222;text-transform:uppercase;}
#ui-datepicker16-div table.ui-datepicker .ui-datepicker-title-row td a{color:#222;}.ui-datepicker-cover{display:none;display:block;position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:193px;height:200px;}.facebook-badge{border:1px solid #ccc;background:#fff;padding:2px;margin:5px 0 5px;overflow:hidden;white-space:nowrap;}
.facebook-badge a.badge{display:inline-block;text-decoration:none;width:100%;height:100%;}.facebook-badge .profile-image{display:inline-block;max-height:80px;vertical-align:top;}
.facebook-badge .info{height:75px;color:#333;}.facebook-badge .info label{color:#999;}.facebook-badge.horizontal{height:81px;width:350px;line-height:83px;vertical-align:middle;}
.facebook-badge.horizontal .badge-logo{display:inline-block;width:27px;height:81px;background-image:url(/mod/facebook/files/img/logo-h.png);background-repeat:no-repeat;}
.facebook-badge.vertical{width:121px;vertical-align:middle;text-align:center;white-space:normal;}.facebook-badge.vertical .badge-logo{display:inline-block;width:119px;height:27px;background-image:url(/mod/facebook/files/img/logo-v.png);background-repeat:no-repeat;}
.facebook-badge.vertical .info{width:97%;}.facebook-badge.vertical .profile-image{max-width:100px;max-height:none;}
.facebook-badge.vertical .badge-data{text-align:center!important;}.facebook-badge.colorscheme-dark{background-color:#000;border-color:#666;color:#fff;}
.facebook-badge.colorscheme-dark .info{color:#fff;}.facebook-badge.colorscheme-dark .info label{color:#808080;}
.badge-data{display:inline-block;visibility:hidden;}.badge-loader{height:75px;padding-top:25px;}.badge-loader .badge-loader-inner{background:url(/mod/facebook/files/img/loader.gif) no-repeat 0 0;width:32px;height:32px;}
.badge-container{display:inline-block;line-height:16px;vertical-align:top;text-align:left;white-space:normal;}
.facebook-content .fb-like{z-index:3;}#shoppingBasket .input{width:180px;}#shoppingBasketTable .th,#shoppingBasketTable .td{padding-left:10px;line-height:140%;font-size:10px;}
#shoppingBasketTable{width:100%;text-align:left;border-style:hidden;border-width:0;}#shoppingBasketTable .horLine{border-bottom:1px solid #000;padding:0;margin:0;}
#shoppingBasketTable th{text-align:left;padding-left:10px;font-size:10px;}#shoppingBasketTable td{padding:5px 0 5px 10px;}
#shoppingBasketTable tfoot td{text-align:right;}#shoppingBasketTable .artNameTitle{min-width:145px;width:145px;}
#shoppingBasket .h1{font-size:14px;font-weight:bold;}#shoppingBasketTable .img{width:45px;padding-left:0;}
#shoppingBasketTable .alRight{text-align:right;}#shoppingBasketTable .zeroWidth{width:0;}.count{font-size:10px;}
.price{font-weight:600;white-space:nowrap;}#shoppingBasketForm .error_icon{background:url(/mod/shoppingbasket/files/img/error16.png) no-repeat 3px 3px;padding:10px;margin-left:8px;cursor:pointer;overflow:visible;position:absolute;}
#shoppingBasketForm .error_popup{background:#FCC;padding:5px;border:1px solid #622;margin:-10px 0 0 20px;white-space:nowrap;position:absolute;z-index:9999;}
#shoppingBasketForm .pointer{cursor:pointer;}#shoppingBasketForm .link{text-decoration:underline;}#shoppingBasketForm #submit{margin-top:20px;width:160px;height:26px;line-height:21px;background:url(/mod/shoppingbasket/files/img/sb_button.png) no-repeat;color:#fff!important;display:block;border-radius:3px;text-decoration:none;text-align:center;font-size:13px;}
a.continueShopping{margin-top:5px;margin-bottom:10px;width:155px;height:26px;line-height:21px;background:url(/mod/shoppingbasket/files/img/sb_button.png) no-repeat;color:#fff!important;display:block;border-radius:3px;text-decoration:none;text-align:center;font-size:13px;}
#shoppingBasketForm td label{margin-right:5px;padding:6px 0;white-space:nowrap;}#shoppingBasketForm td label.vertical{display:block;clear:both;padding:0;}
#shoppingBasketForm td .str{width:130px;}#shoppingBasketForm td .nr{width:40px;}#shoppingBasketForm .required{font-weight:600;}
#payment-label{vertical-align:top;}#shoppingBasketForm #inv_sal-label+td label,#shoppingBasketForm #del_sal-label+td label,#shoppingBasketForm #payment-label+td label,#shoppingBasketForm #del_addr-label label,#shoppingBasketForm #terms_accept-label label{clear:both;float:none;font-weight:normal;}
#shoppingBasketForm #form-label label{font-size:12px;float:none;clear:both;}#shoppingBasketForm #payment-label+td,#shoppingBasketForm #terms-label+td{min-width:400px;}
#shoppingBasketDialogs{width:500px;}#shoppingBasket .error-hint{top:0;left:0;border-bottom:1px solid #622;background:#FCC url(/mod/shoppingbasket/files/img/error16.png) no-repeat 3px 3px;padding:4px 5px 0 25px;margin:0;display:none;}
#shoppingBasket .hide{margin-bottom:20px;}#shoppingBasketDialogs .terms-dialog .dlg-text,#shoppingBasketDialogs .ack-dialog .dlg-text{height:250px;overflow:auto;margin-bottom:10px;padding-right:10px;visibility:visible;}
#shoppingBasketDialogs .ack-dialog a{color:#777;text-decoration:underline;}.terms-dialog,.ack-dialog{visibility:hidden;display:none;}
.ack-dialog p{color:black;}.artPriceSingle{width:100px;}.artPriceComplete{width:120px;}.paymentMethodContainer{display:block;position:relative;}
.paymentMethodContainer .error_icon{top:5px;left:187px;}#taxContainerRow{line-height:1px;height:1px;}
.taxContainer{left:-20px;padding:5px;float:right;position:relative;display:none;width:130px;background-color:#FFF;border:1px solid #000;z-index:9998;}
.taxContainer td{color:#000!important;}.taxContainer img#city_good,.taxContainer img#state_good,.taxContainer img#zip_good{display:none;border:none;width:16px;height:16px;}