/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
       HTML5 display definitions
       ========================================================================== */
/**
     * Correct `block` display not defined in IE 8/9.
     */
.diyw article,
.diyw aside,
.diyw details,
.diyw figcaption,
.diyw figure,
.diyw footer,
.diyw header,
.diyw hgroup,
.diyw main,
.diyw nav,
.diyw section,
.diyw summary {
  display: block;
}
/**
     * Correct `inline-block` display not defined in IE 8/9.
     */
.diyw audio,
.diyw canvas,
.diyw video {
  display: inline-block;
}
/**
     * Prevent modern browsers from displaying `audio` without controls.
     * Remove excess height in iOS 5 devices.
     */
.diyw audio:not([controls]) {
  display: none;
  height: 0;
}
/**
     * Address styling not present in IE 8/9.
     */
.diyw [hidden] {
  display: none;
}
/* ==========================================================================
       Base
       ========================================================================== */
/**
     * 1. Set default font family to sans-serif.
     * 2. Prevent iOS text size adjust after orientation change, without disabling
     *    user zoom.
     */

html .diyw 
{
  font-family: sans-serif;
  

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/**
     * Remove default margin.
     */

body 
{
  margin: 0;
}

/* ==========================================================================
       Links
       ========================================================================== */
/**
     * Address `outline` inconsistency between Chrome and other browsers.
     */
.diyw a:focus {
  outline: thin dotted;
}
/**
     * Improve readability when focused and also mouse hovered in all browsers.
     */
.diyw a:active,
.diyw a:hover {
  outline: 0;
}
/* ==========================================================================
       Typography
       ========================================================================== */
/**
     * Address variable `h1` font-size and margin within `section` and `article`
     * contexts in Firefox 4+, Safari 5, and Chrome.
     */
.diyw h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
     * Address styling not present in IE 8/9, Safari 5, and Chrome.
     */
.diyw abbr[title] {
  border-bottom: 1px dotted;
}
/**
     * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
     */
.diyw b,
.diyw strong {
  font-weight: bold;
}
/**
     * Address styling not present in Safari 5 and Chrome.
     */
.diyw dfn {
  font-style: italic;
}
/**
     * Address differences between Firefox and other browsers.
     */
.diyw hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
     * Address styling not present in IE 8/9.
     */
.diyw mark {
  background: #ff0;
  color: #000;
}
/**
     * Correct font family set oddly in Safari 5 and Chrome.
     */
.diyw code,
.diyw kbd,
.diyw pre,
.diyw samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
     * Improve readability of pre-formatted text in all browsers.
     */
.diyw pre {
  white-space: pre-wrap;
}
/**
     * Set consistent quote types.
     */
.diyw q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
     * Address inconsistent and variable font size in all browsers.
     */
.diyw small {
  font-size: 80%;
}
/**
     * Prevent `sub` and `sup` affecting `line-height` in all browsers.
     */
.diyw sub,
.diyw sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.diyw sup {
  top: -0.5em;
}
.diyw sub {
  bottom: -0.25em;
}
/* ==========================================================================
       Embedded content
       ========================================================================== */
/**
     * Remove border when inside `a` element in IE 8/9.
     */
.diyw img {
  border: 0;
}
/**
     * Correct overflow displayed oddly in IE 9.
     */
.diyw svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
       Figures
       ========================================================================== */
/**
     * Address margin not present in IE 8/9 and Safari 5.
     */
.diyw figure {
  margin: 0;
}
/* ==========================================================================
       Forms
       ========================================================================== */
/**
     * Define consistent border, margin, and padding.
     */
.diyw fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
     * 1. Correct `color` not being inherited in IE 8/9.
     * 2. Remove padding so people aren't caught out if they zero out fieldsets.
     */
.diyw legend {
  border: 0;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
     * 1. Correct font family not being inherited in all browsers.
     * 2. Correct font size not being inherited in all browsers.
     * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
     */
.diyw button,
.diyw input,
.diyw select,
.diyw textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */

}
/**
     * Address Firefox 4+ setting `line-height` on `input` using `!important` in
     * the UA stylesheet.
     */
.diyw button,
.diyw input {
  line-height: normal;
}
/**
     * Address inconsistent `text-transform` inheritance for `button` and `select`.
     * All other form control elements do not inherit `text-transform` values.
     * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
     * Correct `select` style inheritance in Firefox 4+ and Opera.
     */
.diyw button,
.diyw select {
  text-transform: none;
}
/**
     * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
     *    and `video` controls.
     * 2. Correct inability to style clickable `input` types in iOS.
     * 3. Improve usability and consistency of cursor style between image-type
     *    `input` and others.
     */
.diyw button,
html .diyw input[type="button"],
.diyw input[type="reset"],
.diyw input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

}
/**
     * Re-set default cursor for disabled elements.
     */
.diyw button[disabled],
html .diyw input[disabled] {
  cursor: default;
}
/**
     * 1. Address box sizing set to `content-box` in IE 8/9.
     * 2. Remove excess padding in IE 8/9.
     */
.diyw input[type="checkbox"],
.diyw input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
     * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
     * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
     *    (include `-moz` to future-proof).
     */
.diyw input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/**
     * Remove inner padding and search cancel button in Safari 5 and Chrome
     * on OS X.
     */
.diyw input[type="search"]::-webkit-search-cancel-button,
.diyw input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
     * Remove inner padding and border in Firefox 4+.
     */
.diyw button::-moz-focus-inner,
.diyw input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
     * 1. Remove default vertical scrollbar in IE 8/9.
     * 2. Improve readability and alignment in all browsers.
     */
.diyw textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
       Tables
       ========================================================================== */
/**
     * Remove most spacing between table cells.
     */
.diyw table {
  border-collapse: collapse;
  border-spacing: 0;
}
.diyw p {
  margin: 1em 0;
}
.diyw div.n {
  padding: 0;
  margin: 1em 0;
}
.diyw .diywebNav ul:before,
.diyw .diywebLiveArea:before,
.diyw .diywebNav ul:after,
.diyw .diywebLiveArea:after {
  content: " ";
  display: table;
}
.diyw .diywebNav ul:after,
.diyw .diywebLiveArea:after {
  clear: both;
}
.diyw .diywebNav a,
.diyw .diyweb,
.diyw .diyweb h1,
.diyw .diyweb h2,
.diyw .diyweb p,
.diyw .diyweb td {
  white-space: normal;
  word-wrap: break-word;
}
.diyw .diyweb {
  -webkit-text-size-adjust: none;
  min-height: 100%;
  font-size: 16px;
  line-height: 1.35;
}
.diyw .diywebContainer {
  position: relative;
  margin: 0 auto;
}
.diyw .diywebLiveArea {
  position: relative;
  margin: 0 auto;
}
.diyw .diyweb a {
  text-decoration: underline;
}
.diyw .diyweb a:hover {
  text-decoration: none;
}
.diyw .diywebNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.diyw .diywebNav li ul {
  padding-left: 1em;
}
.diyw .diywebNav li {
  max-width: 100%;
}
.diyw .diywebNav a {
  text-decoration: none;
  display: block;
}
.diyw .diywebNav a:hover,.diyw .diywebNav a.current {
  text-decoration: underline;
}
body.diyBgActive .diyw .diyfeCA2 {
 /* background-color: transparent !important;*/
}
/* Basic Layout */
.diyw div.hr {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-color: #ccc;
  height: 1px;
}
.diyw .diyweb {
  font-size: 13px;
  line-height: 1.4;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 0 2%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.diyw .diywebEmotionHeader .diywebLiveArea,
.diyw .diywebContent .diywebLiveArea {
  padding: 0;
}
.diyw .diywebEmotionHeader {
  overflow: hidden;
}
.diyw .diywebFooter {
  min-height: 20px;
}
.diyw .diywebNav .diywebLiveArea {
  padding-top: 0;
  padding-bottom: 0;
}
.diyw .diywebGutter {
  padding: 10px 20px;
}
.diyw .diywebLiveArea {
  padding: 20px;
}
/* End of Basic Layout */
/* Typography */
.diyw .diyweb h1 {
  font-size: 2em;
}
.diyw .diyweb h2 {
  font-size: 1.5em;
}
.diyw .diyweb h3 {
  font-size: 1em;
}
.diyw .diywebSecondary h1 {
  font-size: 1.5em;
}
/* End of Typography */
/* Navigation */
.diyw .diywebNav a {
  display: block;
  padding: 0.4em 1em 0.35em;
}
.diyw .diywebNav a {
  text-decoration: none;
}
.diyw .diywebNav a:hover {
  text-decoration: underline;
}
.diyw .diywebHeader .diywebNav {
  text-transform: uppercase;
}
.diyw .diywebContent .diywebNav li {
  margin: 0;
}
.diyw .diywebNav ul ul li {
  border-top: none;
}
.diyw .diywebContent .diywebNav li a {
  padding: 8px 0;
  margin: -1px 0 0 0;
}
.diyw .diywebContent .diywebNav {
  margin: 0 0 1em;
  padding-left: 0;
}
.diyw .diywebContent .diywebNav a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.diyw .diywebContent .diywebNav li:last-child a {
  border: none;
}
.diyw .diywebContent .diywebNav ul ul {
  padding-left: 7%;
}
.diyw .diywebHeader .diywebNav a {
  padding: 1em 1em 1.075em;
}
.diyw .diywebHeader .diywebNav li ul {
  display: none;
}
.diyw .diywebHeader .diywebNav li {
  float: left;
}
@media only screen and (max-width: 568px) {
  .diyw .diywebHeader .diywebNav li {
    border-bottom: 1px solid #ddd;
  }
  .diyw .diywebHeader .diywebNav li:last-child {
    border: none;
  }
}
@media only screen and (max-width: 568px) {
  .diyw .diywebHeader .diywebNav li ul {
    display: block;
  }
  .diyw .diywebHeader .diywebNav li {
    float: none;
  }
}
/* End of navigation */
/* IE8 desktop styles */
.diyw .diyweb {
  -webkit-text-size-adjust: auto;
}
.diyw .diywebPage {
  padding: 0 4% 2em;
}
.diyw .diywebContainer {
   padding: 20px;
  width: 920px;
}
.diyw .diywebLiveArea {
  padding: 20px;
}
.diyw .diywebMain .diywebGutter {
  padding: 20px 40px;
}
@media only screen and (max-width: 1023px) {
  .diyw .diywebContainer {
    width: 720px;
  }
 .diyw .diywebContainer {
  padding: 10px;
}
}
@media only screen and (max-width: 767px) {
  .diyw .diywebContainer {
    width: 530px;
  }
}
@media only screen and (max-width: 568px) {
  .diyw .diywebContainer {
    width: 420px;
  }
  .diyw .diywebMain .diywebGutter {
    padding: 20px 10px;
  }
  .diyw .diywebLiveArea {
    padding: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .diyw .diywebContainer {
    width: auto;
  }
}
/* ie8 wants it all */
.diyw .diywebSecondary .diywebNav {
  display: block;
}
.diyw .diywebMain .diywebNav {
  display: none;
}
.diyw .diywebSecondary {
  position: relative;
  width: 28.5%;
  float: left;
}
.diyw .diywebContent .diywebFond {
  width: 28.5%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.diyw .diywebMain {
  width: 71.5%;
  float: right;
}
.diyw .diywebClark .diywebSecondary {
  float: right;
}
.diyw .diywebClark .diywebContent .diywebFond {
  right: 0;
}
.diyw .diywebClark .diywebMain {
  float: left;
}
/* end of ie8 */
/* media query reset for modern browsers */
@media only screen and (min-width: 0) and (max-width: 767px) {
  .diyw .diywebMain .diywebNav {
    display: block;
  }
  .diyw .diywebSecondary {
    position: static;
    z-index: auto;
    width: auto;
    float: none;
  }
  .diyw .diywebContent .diywebFond {
    width: auto;
    position: static;
    top: auto;
    bottom: auto;
  }
  .diyw .diywebMain {
    width: auto;
    float: none;
  }
  .diyw .diywebClark .diywebSecondary {
    float: none;
  }
  .diyw .diywebClark .diywebContent .diywebFond {
    right: auto;
  }
  .diyw .diywebClark .diywebMain {
    float: none;
  }
}
/* end of media query reset */
@media only screen and (max-width: 1023px) {
  .diyw .diywebSecondary .diywebNav {
    display: block;
  }
}
@media only screen and (max-width: 568px) {
  .diyw .diywebContent .diywebNav {
    display: none;
  }
  .diyw .diywebSingleNav .diywebNavMain {
    display: block;
  }
}




/* MY UI */
/* deleted for background tab
body 
{
  background-image: url(--img--/bg1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}
*/
.diyw .diyweb {
  padding: 20px 0;
  background: transparent !important;
}

.diyw .diywebContainer {
  box-shadow: 0 0 20px #000;
}
.diyw .diywebContainer.diywebFooter {
  background: none !important;
  box-shadow: none;
}
.diyw .diywebFooter .diywebLiveArea {
  padding: 20px 0 0 0;
}
.diyw .diywebHeader .diywebLiveArea{
  padding: 0;
}
.diyw .diywebHeader .diywebNav li:first-child{
  margin: 0;
} 
.diyw .diywebHeader .diywebNav a {
  padding: 23px 20px 20px;
}
.diyw .diywebContent .diywebNav li a {
  padding-left: 4px;
}

.diyw ul.mainNav2 > li > a {
    border-bottom: 1px solid #474747;
    padding: 7px;
    color: #A5A5A5;
    display: block;
    text-decoration: none;
}
.diyw .diywebContent .diywebNav ul ul {
  margin: 0;
  padding: 0;
}
.diyw .diywebNav23 ul.mainNav3 li a:before {
  content: "\00BB";
  position: absolute;
  margin-left: -15px;
}
.diyw .diywebNav23 ul.mainNav3 li a {
  padding: 5px 0 3px 20px;
  margin: 3px 0;
}

@media only screen and (min-width: 1024px) { 
  .diyw .diywebContainer {
  padding: 20px;
  width: 920px;
}
.diyw .diywebContainer.diywebFooter {
  padding: 0;
  width: 960px;
}
}

@media only screen and (max-width: 767px) {
  .diyw .diywebSecondary .diywebNav {
    display: none;
  }
  .diyw .diyfeModGridStyleTeaser .diyfeModGridContent:before{
    width:calc(100% - 30px) !important;
  }
}

@media only screen and (max-width: 568px) {
  .diyw .diywebNav li ul {
    padding-right: 1em;
    }
}

@media all and (max-width: 767px){
	.diyw .diyweb {
		padding: 0;
	}

/*margin mobilenav bottom*/
	.diyw .diyfeMobileNav {
		margin-bottom: 20px;
	}
}
.diyw .diyweb .diyfeLinkAsButton{
  border-radius:0px !important;
  border: none !important;
}

  body.diyfeNoSidebar .diyw .diywebSecondary,
body.diyfeNoSidebar .diyw .diywebContent .diyfeGridGroup:before,
body.diyfeNoSidebar .diyw .diywebContent .diywebFond {
  display: none !important;
}
@media only screen and (min-width: 768px){
body.diyfeNoSidebar .diyw .diywebMain {
  float: none !important;
  width: 100% !important;
}

body.diyfeSidebarRight .diyw .diywebSecondary {
  float: right !important;
}
body.diyfeSidebarRight .diyw .diywebMain {
  float: left !important;
}
body.diyfeSidebarRight .diyw .diywebContent .diywebFond,
body.diyfeSidebarRight .diyw .diywebContent .diyfeGridGroup:before {
  right: 0 !important;
  left: auto !important;
}
body.diyfeSidebarLeft .diyw .diywebSecondary {
  float: left !important;
}
body.diyfeSidebarLeft .diyw .diywebMain {
  float: right !important;
}

body.diyfeSidebarLeft .diyw .diywebContent .diywebFond,
body.diyfeSidebarLeft .diyw .diywebContent .diyfeGridGroup:before {
  left: 0 !important;
  right: auto !important;
}
}
  