﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ClearMe.aspx.cs" Inherits="UFS.Web.UI.Account.ClearMe" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h1>Please wait while Orders are cleared.</h1>
    </div>
    </form>
</body>
</html>
